<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Good vibes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="icon" type='image/png' href="{{ url_for('static', filename='favicon.png') }}">
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </head>
  <body>
    <div class="container" onload="">
      <object type="application/x-shockwave-flash" class="flash" data="{{ flash_source }}">
        <param name="movie" value="{{ flash_source }}"/>
        <param name="quality" value="high"/>
      </object>
    </div>
  </body>
  <footer>
    <div class="controls">
        <i class="fa fa-step-backward fa-2x media-control" id="prev-button"
           onclick="window.location='{{ prev_flash }}'"></i>
        <form class="search-form" onsubmit="return selectFlash()" >
            <input placeholder="Search..." list="video-list" id="search-box">
            <datalist id="video-list">
                {% for flash in flashes %}<option value="{{ flash }}">{% endfor %}
            </datalist>
            <input type="submit" value="Go">
        </form>
        <i class="fa fa-step-forward fa-2x media-control" id="next-button"
           onclick="window.location='{{ next_flash }}'"></i>
    </div>
  </footer>
</html>